<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Ceci est la liste de tous les articles</h1>
    {{ range $key, $value := . }}
    <li>
      <a href="/article/{{ $value.ID }}"><strong>{{ $key }}</strong>: {{ $value.Title }}</a>
    </li>
    {{ end }}

  <form action="/articles/export" method="POST" target="_blank">
    <input type="hidden" id="exportType" name="exportType" value="xls">
    <input type="submit" value="xls">
  </form>

  <form action="/articles/export" method="POST" target="_blank">
    <input type="hidden" id="exportType" name="exportType" value="csv">
    <input type="submit" value="csv">
  </form>
</body>
</html>