<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/articles/new" method="POST">
        <label for="title">Article title:</label>
        <input type="text" id="title" name="title"><br><br>
        <label for="header">Header:</label>
        <input type="text" id="header" name="header"><br><br>
        <label for="authors">Authors:</label>
        <input type="text" id="authors" name="authors"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>